nhom24.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/rapphim"
    xmlns="http://example.com/rapphim"
    elementFormDefault="qualified">
    
    <!-- PHẦN TỬ GỐC -->
    <xs:element name="rapphim">
        <xs:complexType>
            <xs:sequence>
                
                <!-- RẠP CHIẾU -->
                <xs:element name="rapchieu" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MaRap" type="xs:integer"/>
                            <xs:element name="TenRap" type="xs:string"/>
                            <xs:element name="DiaChi" type="xs:string"/>
                            <xs:element name="SucChua" type="xs:integer"/>
                            <xs:element name="SoDienThoai" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <!-- PHÒNG CHIẾU -->
                <xs:element name="phongchieu" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MaPhong" type="xs:integer"/>
                            <xs:element name="SoPhong" type="xs:string"/>
                            <xs:element name="LoaiPhong" type="xs:string"/>
                            <xs:element name="SucChua" type="xs:integer"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <!-- THỂ LOẠI -->
                <xs:element name="theloai" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MaTheLoai" type="xs:integer"/>
                            <xs:element name="TenTheLoai" type="xs:string"/>
                            <xs:element name="MoTa" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <!-- SƠ ĐỒ GHẾ -->
                <xs:element name="sodoghe" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MaGhe" type="xs:integer"/>
                            <xs:element name="SoGhe" type="xs:string"/>
                            <xs:element name="Hang" type="xs:string"/>
                            <xs:element name="Cot" type="xs:integer"/>
                            <xs:element name="LoaiGhe" type="xs:string"/>
                            <xs:element name="TrangThai" type="xs:string"/>
                            <xs:element name="MaPhong" type="xs:integer"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <!-- KHÁCH HÀNG -->
                <xs:element name="khachhang" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MaKH" type="xs:integer"/>
                            <xs:element name="HoTen" type="xs:string"/>
                            <xs:element name="Email" type="xs:string"/>
                            <xs:element name="DiaChi" type="xs:string"/>
                            <xs:element name="SoDienThoai" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <!-- PHIM -->
                <xs:element name="phim" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MaPhim" type="xs:integer"/>
                            <xs:element name="TenPhim" type="xs:string"/>
                            <xs:element name="ThoiLuong" type="xs:integer"/>
                            <xs:element name="NgayKhoiChieu" type="xs:date"/>
                            <xs:element name="MoTa" type="xs:string"/>
                            <xs:element name="MaTheLoai" type="xs:integer"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <!-- LỊCH CHIẾU -->
                <xs:element name="lichchieu" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MaLich" type="xs:integer"/>
                            <xs:element name="MaPhim" type="xs:integer"/>
                            <xs:element name="ThoiGianChieu" type="xs:dateTime"/>
                            <xs:element name="GiaVe" type="xs:integer"/>
                            <xs:element name="MaPhong" type="xs:integer"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <!-- VÉ -->
                <xs:element name="ve" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MaVe" type="xs:integer"/>
                            <xs:element name="MaLich" type="xs:integer"/>
                            <xs:element name="MaKH" type="xs:integer"/>
                            <xs:element name="NgayMua" type="xs:dateTime"/>
                            <xs:element name="SoGhe" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
            </xs:sequence>
        </xs:complexType>
        
        
        
        <xs:key name="rapchieuKey">
            <xs:selector xpath="rapchieu"/>
            <xs:field xpath="MaRap"/>
        </xs:key>
        
        <xs:key name="phongchieuKey">
            <xs:selector xpath="phongchieu"/>
            <xs:field xpath="MaPhong"/>
        </xs:key>
        
        <xs:key name="theloaiKey">
            <xs:selector xpath="theloai"/>
            <xs:field xpath="MaTheLoai"/>
        </xs:key>
        
        <xs:key name="sodogheKey">
            <xs:selector xpath="sodoghe"/>
            <xs:field xpath="MaGhe"/>
        </xs:key>
        
        <xs:key name="khachhangKey">
            <xs:selector xpath="khachhang"/>
            <xs:field xpath="MaKH"/>
        </xs:key>
        <xs:key name="phimKey">
            <xs:selector xpath="phim"/>
            <xs:field xpath="MaPhim"/>
        </xs:key>
        <xs:key name="lichchieuKey">
            <xs:selector xpath="lichchieu"/>
            <xs:field xpath="MaLichChieu"/>
        </xs:key>
        <xs:key name="veKey">
            <xs:selector xpath="ve"/>
            <xs:field xpath="MaVe"/>
        </xs:key>
        
        <xs:keyref name="lichchieuPhongRef" refer="phongchieuKey">
            <xs:selector xpath="lichchieu"/>
            <xs:field xpath="MaPhong"/>
        </xs:keyref>
        <xs:keyref name="lichchieuPhimRef" refer="phimKey">
            <xs:selector xpath="lichchieu"/>
            <xs:field xpath="MaPhim"/>
        </xs:keyref>
        <xs:keyref name="sodoghePhongRef" refer="phongchieuKey">
            <xs:selector xpath="sodoghe"/>
            <xs:field xpath="MaPhong"/>
        </xs:keyref>
        <xs:keyref name="phimTheLoaiRef" refer="theloaiKey">
            <xs:selector xpath="phim"/>
            <xs:field xpath="MaTheLoai"/>
        </xs:keyref>
        <xs:keyref name="veLichRef" refer="lichchieuKey">
            <xs:selector xpath="ve"/>
            <xs:field xpath="MaLichChieu"/>
        </xs:keyref>
        <xs:keyref name="veKhachhangRef" refer="khachhangKey">
            <xs:selector xpath="ve"/>
            <xs:field xpath="MaKH"/>
        </xs:keyref>
        <xs:keyref name="veGheRef" refer="sodogheKey">
            <xs:selector xpath="ve"/>
            <xs:field xpath="MaGhe"/>  
        </xs:keyref>
    </xs:element>
</xs:schema>